{% if site.analytics.provider and page.analytics != false %}

{% case site.analytics.provider %}
{% when "google" %}
  {% include /analytics-providers/google.html %}
{% when "google-universal" %}
  {% include /analytics-providers/google-universal.html %}
{% when "custom" %}
  {% include /analytics-providers/custom.html %}
{% endcase %}

{% endif %}
<p style="text-align: center;">
  <a href="https://clustrmaps.com/site/1bpnk" title="Visit tracker"><img width="100" height="100" src="//www.clustrmaps.com/map_v2.png?d=ZcgmaY8rcCFMIHj7KHRJU6btpMrhv5tWKaygVIZyiIc&cl=ffffff"></a>
</p>